# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

kviz-41dcb-firebase-adminsdk-pt976-1fb87a1cd3.json


node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/
kviz-41dcb-firebase-adminsdk-pt976-1fb87a1cd3.json
backend/__pycache__/
backend/main.py
backend/proba.py
backend/quiz.py
main.py


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
*.tsbuildinfo
*.pyc
